/**Embed a DokuWiki instance as app into ownCloud, intentionally with
 * single-sign-on.
 * 
 * @author Claus-Justus Heine
 * @copyright 2013 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */


#dokuwiki_container {
	position: fixed;
}
#dokuwikiFrame{
	height: 100%;
}

/* This only works with JavaScript,
 if it's not present, don't show loader */
.no-js #loader {
	display: none;
}
.js #loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 128px;
	height: 14px;
	margin-top: -7px; /* Half the height */
	margin-left: -64px; /* Half the width */
}
